
[*]

# ReSharper properties
resharper_anonymous_method_declaration_braces=end_of_line
resharper_case_block_braces=end_of_line_no_space
resharper_cpp_max_line_length=140
resharper_invocable_declaration_braces=end_of_line
resharper_keep_blank_lines_in_code=1
resharper_namespace_declaration_braces=end_of_line
resharper_new_line_before_catch=false
resharper_new_line_before_else=false
resharper_new_line_before_while=false
resharper_other_braces=end_of_line
resharper_requires_expression_braces=end_of_line
resharper_simple_case_statement_style=line_break
resharper_type_declaration_braces=end_of_line
resharper_wrap_multiple_type_parameter_constraints_style=wrap_if_long
